.background-main{
    background-image: url('../assets/images/backgorund-main.png');
    width: 100vw;
    /* height: 100vh; */
    background-position: center;
	background-size: cover;
}

.scroll
{
    overflow-y:hidden;
    overflow-x:scroll;
}

.navTheme{
    box-shadow: 1px 6px 20px 0px;
}

footer{
    background: red;
    width: 100%;
    height: 40px;
}